{{- $section2 := .Site.Params.section2 }}
{{- $title := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}

<section class="section is-small" id="section2">
  <div class="container">
    <div class="title">
      <h1 class="title is-3">{{ $title }}</h1>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider-long"></div>
    </div>
    {{- range $features }}
    <div class="columns is-vcentered is-centered">
      <div class="column is-5">
        {{ $titleContent := printf "<h3 class='title is-4 is-title-reveal'>%s</h3>" .title }}
        {{ with .url }}
          <a href="{{ . }}">
          {{ $titleContent | safeHTML }}
          </a>
        {{ else }}
          {{ $titleContent | safeHTML }}
        {{ end }}
        <p class="subtitle is-5 is-muted">
          {{ .text | markdownify }}
        </p>
      </div>
      <div class="column is-5">
        <figure class="media is-centered">
          <div class="image">
            {{ $imgContent := printf "<img src='%s'/>" (printf "images/illustrations/icons/%s" .icon | relURL) }}
            {{ with .url }}
            <a href="{{ . }}">
              {{ $imgContent | safeHTML }}
            </a>
            {{ else }}
            {{ $imgContent | safeHTML }}
            {{ end }}
          </div>
        </figure>
      </div>
    </div>
    {{- end }}
  </div>
</section>